<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
            <meta name="description" content="" />
            <meta name="author" content="" />
            <title>Web de Compra/Venta de Equipamientos para Entrenamiento</title>
            <!-- Favicon-->
            <link rel="icon" type="image/x-icon" href="{% static 'EntrenamientoApp/assets/favicon.ico' %}" />
            <!-- Bootstrap icons-->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
            <!-- Core theme CSS (includes Bootstrap)-->
            <link href="{% static 'EntrenamientoApp/css/styles.css' %}" rel="stylesheet" />
            <link href="{% static 'EntrenamientoApp/css/carrusel.css' %}" rel="stylesheet" />
        </head>
        <body class="d-flex flex-column h-100">
            <main class="flex-shrink-0">
                <!-- Navigation-->
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="container px-5">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Tiendas</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Búsqueda</a>
                                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Categorías</a>
                            </ul>
                        </ul>
                        <div class="container"></div>
                        <div class="container"></div>
                        <div class="container"></div>
                        <div class="container"></div>
                        <div class="container"></div>
                        {% if request.user.is_authenticated %}
                        <div class="container">
                        <li class="nav-item">
                          <span class="text-light"> Hola <strong>{{request.user.first_name}}</strong>!</span>
                        </li>
                        </div>
                        <div class="container">
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'editar_perfil' %}"><span class="text-primary">Perfil</span></a>
                        </li>
                        </div>
                        <div class="container">
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'logout' %}"><span class="text-primary">Logout</span></a>
                        </li>
                        </div>
                        {% else %}
                        <div class="container">
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'login' %}"><span class="text-primary">Login</span></a>
                        </li>
                        </div>
                        <div class="container">
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'registro' %}"><span class="text-primary">Registrate</span></a>
                        </li> 
                        </div>         
                      {% endif %}
                    </div>
                </div>
            </nav>
{% block content %}
            <!-- About section one-->
            <style>
                .contenedor {
                    margin-top: 100px;
                    display: flex;
                }
            </style>
            <section class="py-5 bg-light" id="scroll-target">
                <div class="container px-5 my-5; contenedor">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-2"><img class="img-fluid rounded mb-5 mb-lg-0" class="rounded-circle mb-3" width="150px" src="{% static 'imagenes/fotoperfil.png' %}" alt="..." /></div>
                        <div class="col">
                            <div class="">
                            <h2 class="fw-bolder">Acerca de mí</h2>
                            <p class="lead fw-normal text-muted mb-0">Hola! que tal! Mi nombre es Nicolas Verdecchia, soy estudiante en Licenciatura en Sistema y actualmente estoy aprendiendo el lenguaje de programación Python y el Framework Django. Gracias por visitar mi página! Espero te haya gustado! Saludos !</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
{% endblock %}