{% extends 'EntrenamientoApp/about.html' %}

{% block content %}

<br>
<br>





<div class="container text-center">
    <h1>FUNCIONAL</h1>
</div>

<br>

<div class="container text-center">
    <div class="row">
            {% for funcional in funcionals %}
            <div class="col-sm-6 align-items-center">
                <div class="card-body">
                <img src="{{funcional.imagenEquipamiento.url}}" class="" width="100px">
                {{funcional.titulo}}
                <a href="{% url 'funcional' funcional.id %}"><i class="bi bi-eye"></i></a>
                {% if user.id == funcional.usuario.id %}
                <a href="{% url 'funcional_editar' funcional.id %}"><i class="bi bi-pencil-fill"></i></a>
                <a href="{% url 'funcional_eliminar' funcional.id %}"><i class="bi bi-trash text-danger"></i></a>
                <br>
                <br>
                <br>
                <br>
                {% endif %}
                </div>
            </div>
            {% endfor %}
    </div>
</div>

{% endblock %}